BIGEYE_API_TOKEN=
BIGEYE_USERNAME=
BIGEYE_PASSWORD=
BIGEYE_API_BASE_URL=
BIGEYE_BASE_URL=
ALATION_API_TOKEN=
ALATION_API_TOKEN_SECRET=
ALATION_AUTH_MODE=auto
ALATION_CLIENT_ID=
ALATION_CLIENT_SECRET=
ALATION_REFRESH_TOKEN=
ALATION_REFRESH_TOKEN_SECRET=
ALATION_API_BASE_URL=
ALATION_BASE_URL=

DATABRICKS_SERVER_HOSTNAME=
DATABRICKS_HTTP_PATH=
DATABRICKS_ACCESS_TOKEN=
DATABRICKS_CLUSTER_ID=
